
.App {
  text-align: center;
}


.App-header {
  background-color: #142464;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  font-family: sans-serif;
  font-size: 30px;
  height: 60px;
  width: 180px;
  border-radius: 8px;
  background-color: #b8c7df;
  color: #fff;
  margin: 8px;
  padding: 0;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  text-align: center;
}

button{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  height: 50px;
  width: 100px;
  background-color:#1e94fb;
  color: #fff;
  font-size: 40px;
  margin-top: 10px;
  border-radius: 8px 20px 8px 20px;
  -webkit-border-radius: 8px 20px 8px 20px;
  -moz-border-radius: 8px 20px 8px 20px;
}